form {
    width: 80vw;
    margin: 0 auto;
}

label, input, select, p {
    font-size: 1.4rem;
    background: transparent;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 5rem auto 2rem;
    border-radius: 5px;
}

.form p {
    text-align: center;
}

input, select {
     padding: .5rem;
     margin: 1rem 0;
}

.loginInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 60vw;
}

.loginInfo input, .loginInfo select {
    width: 90%;
    border: 1px solid #000;
    border-radius: 5px;
}

.radio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.radio div input {
    margin-right: .4rem;
}

.validation p {
    font-size: 1.2rem;
    color: red;
}

#cadButton {
    align-self: center;
    border: 1px solid #000;
    color: #d6d1c5;
    cursor: pointer;
    background-color: #333;
    border-radius: 5px;
}

@media (max-width: 600px) {
    label, input, select, p {
        font-size: 1.2rem;
    }
}

@media (min-width: 601px) {
    form {
        width: 550px;
    }
}