#data {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    border-radius: 5px;
}

#data .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 1rem;
}

#data .container p {
    overflow-wrap: break-word;
    margin-left: 5px;
    max-width: 450px;
}

.data-list {
    border: 2px solid #000;
    border-radius: 10px;
}

.error {
    text-align: center;
    margin: 0;
    color: red;
}

@media (max-width: 600px) {
    #data .container p {
        max-width: 100%;
    }
}

@media (min-width: 601px) {
    #data {
        width: 550px;
    }
}