#header {
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 5rem;
    justify-content: space-between;
    background-color: #212121;
    color: #fff;
}

.nav {
    display: flex;
    width: 20%;
    justify-content: space-around;
}