#header {
    height: 150px;
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
    font-size: 1.4rem;
    justify-content: space-between;
    align-items: center;
    background-color: #212121;
    color: #fff;
    text-align: center;
}

.nav, .title {
    height: 50px;
    font-size: 1.2rem;
}

.title h1 {
    margin: 0;
}

.nav {
    display: flex;
    width: 25%;
    justify-content: space-around;
}

.nav a {
    font-size: 1rem;
    text-transform: capitalize;
}

@media (max-width: 1024px) {
    #header {
        padding: 2rem;
    }

    .title {
        width: 50%;
    }

    .nav {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #header {
        font-size: 1.2rem;
        flex-direction: column;
    }

    .nav {
        width: 60%;
    }
}

@media (max-width: 600px) {
    #header {
        justify-content: space-around;
    }

    .title {
        width: 100vw;
    }

    .nav {
        width: 70vw;
    }
}


@media (max-width: 500px) {
    .nav {
        width: 95vw;
    }
}