#registro {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    border-radius: 5px;
}

#registro .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 1rem;
}

#registro .container p {
    margin-right: .5rem;
    word-break: break-all;
}

.error {
    text-align: center;
    margin: 0;
    color: red;
}

@media (min-width: 601px) {
    #registro {
        width: 550px;
    }
}